.cards-container {
  background-image: url('../assets/images/about-back.png');
  background-size: cover;
  background-repeat: no-repeat;
  padding: 7%;
  display: flex;
  justify-content:center;
  flex-wrap: nowrap;
  overflow: hidden;
}

.card {
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  margin: 50px;
  flex: 0 0 auto;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}