.beaches-container {
    width: 100vw;
    height: 100vh;
    background-image: url('../assets/images/beaches-back.png'); 
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    flex-direction: column;
    text-align: center;
    box-sizing: border-box;
}


.beaches-description{
    color: #030303;
    font-size: 20px;
    line-height: 28px;
    margin: 0.5em 0;
    font-family: serif;
    max-width: 800px;
}
.beaches-container .beaches-content {
    max-width: 800px;
    padding: 10px 20px;
}

.beaches-slider-container {
    width: 50%;
    height: 50%;
}

.beaches-slider-container2 {
    width: 50%;
    height: 50%;
    margin-left: 50%;
    margin-bottom: 50%;
}