
.card-list {
    max-width: 300px;
    border: 2px solid hsl(0, 0%, 80%);
    border-radius: 30%;
    box-shadow: 5px 5px 5px hsla(0, 0%, 0%, 0.1);
    display: inline-block;
    transition: transform 0.1s ease, box-shadow 0.3s ease;
    overflow: hidden;
}

.card-list:hover {
    transform: scale(1.05);
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 3);

}

.card-list .card-list-media {
    width: 300px;
    height: 300px;
}

.card-list .card-list-media .card-list-content {
    padding: 16px;
}

.card-list .card-list-media .card-list-content .card-list-link {
    text-decoration: none;
    color: inherit;
}

.card-list .card-list-media .card-list-content .card-list-title {
    font-size: 1.25rem;
    margin-bottom: 16px;
    text-align: center;
}

.card-list-description {
    font-size: 0.875rem;
    color: #6c757d;
    text-align: center;
}