.home-content .home-heading {
    position: absolute;
    font-family: 'Poppins', sans-serif;
    font-size: 4em;
    margin-left: 30px;
    font-weight: 700;
    color: rgb(14, 42, 68);
    background-color: rgba(255, 255, 255, 0.5);
    padding: 10px;
    border-radius: 10px;
}

.home-content .home-dl-card {
    position: relative;
    margin: 35% 0px 0px 0px;
    padding: 12%;
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: flex-start;
    z-index: 2;
}
.home-dl-card .card-list {
    max-width: 300px;
    border: 1px solid hsl(0, 0%, 80%);
    border-radius: 50px;
    box-shadow: 5px 5px 5px hsla(0, 0%, 0%, 0.1);
    display: inline-block;
    transition: transform 0.3s ease, box-shadow 0.3s ease;

}

.home-dl-card .card-list:hover {
    cursor: pointer;
    transform: scale(1.05);
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
}

.home-dl-card .card-list .card-list-media {
    width: 300px;
    height: 300px;
}

.home-dl-card .card-list .card-list-media .card-list-content {
    padding: 16px;
}

.home-dl-card .card-list .card-list-media .card-list-content .card-list-link {
    text-decoration: none;
    color: inherit;
}

.home-dl-card .card-list .card-list-media .card-list-content .card-list-title {
    font-size: 1.25rem;
    margin-bottom: 16px;
    text-align: center;
}