.Home{
    position: relative;
    width: 10%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.home-content .home-heading {
    margin-top: 390px;
    position: absolute;
    left: 42%;
    /* font-family: effra, cursive; */
    font-optical-sizing: auto; 
    font-weight: 500;
    font-style: oblique;
    font-size: 60px;
    line-height: 1.1em;
    color: rgb(230, 209, 209);
    text-shadow: 0.08em 0.08em 0.08em rgba(0, 0, 0, 0.4);}

.home-content .home-heading2 {
    margin-top: 480px;
    left: 40%; 
    text-transform: none;
    position: absolute;
    /* font-family: effra, cursive; */
    font-optical-sizing: auto; 
    font-weight: 500;
    font-style: oblique;
    font-size: 90px;
    line-height: 1.1em;
    color: rgb(176, 230, 50);
    text-shadow: 0.08em 0.08em 0.08em rgba(0, 0, 0, 0.4);}

.home-content .home-description {
    margin-top: 620px;
    position: absolute;
    left: 43%;
    text-transform: none;
    /* font-family: effra, cursive; */
    font-optical-sizing: auto; 
    font-weight: 500;
    font-style: oblique;
    font-size: 26px;
    line-height: 1.1em;
    color: rgba(230, 209, 209, 0.815);
    text-shadow: 0.08em 0.08em 0.08em rgba(0, 0, 0, 0.4);}

.home-content .home-bar {
    margin-top: 1050px;
    position: absolute;
    width: 100%;
    height: 60px;
    background-image: linear-gradient(to right, rgb(133, 207, 197), rgb(89, 179, 129), rgb(235, 175, 13));
}



.home-content .home-dl-card {
    background-image: url('../assets/images/ikaria-back2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    position: absolute;
    margin: 1057px 0px 0px 0px;
    padding: 12%;
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    justify-content: center;
    z-index: 2;
}

.home-dl-card .card-list {
    max-width: 300px;
    border: 1px solid hsl(0, 15%, 90%);
    border-radius: 50px;
    box-shadow: 5px 5px 5px hsla(0, 0%, 0%, 0.1);
    display: inline-block;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
 .home-dl-card .card-list:hover {
    cursor: pointer;
    transform: scale(1.05);
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
}

.home-dl-card .card-list .card-list-media {
    width: 300px;
    height: 300px;
}

.home-dl-card .card-list .card-list-media .card-list-content {
    padding: 16px;
    text-transform: none;
    
}

.home-dl-card .card-list .card-list-media .card-list-content .card-list-link {
    text-decoration: none;
    color: inherit;
}

.home-dl-card .card-list .card-list-media .card-list-content .card-list-title {
    font-size: 1.25rem;
    margin-bottom: 16px;
    text-align: center;
    text-transform: none;
}

.home-transition {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 250px;
    background: linear-gradient(to bottom,
            rgba(0, 0, 0, 0) 0%,
            rgb(0, 0, 0) 100%
        );
}

.home-content {
    position: relative;
    z-index: 2;
}