body {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    background-color: #f4f4f9;
}

.info-page {
    padding: 5%;
    background-image: url('../assets/images/info-back.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    min-height: 100vh;
}

.selected-item-details {
    max-width: 800px;
    margin: 20px auto;
    background: #ffffff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.item-name {
    font-size: 2.5em;
    margin-bottom: 15px;
    color: #062e31;
    text-align: center;
    font-weight: 600;
    transition: color 0.3s ease;
    letter-spacing: 1px;
    text-transform: none;
}

.item-description {
    font-size: 1.3em;
    margin-bottom: 60px;
    color: #062e31;
    line-height: 1.6;
    text-align: center;
    letter-spacing: 0.5px;
    text-transform: none;
}

.item-image-container {
    text-align: center;
    margin-top: 70px;
}

.item-image {
    max-width: 90%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.item-image:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}

.item-image-description {
    font-size: 1em;
    color: #062e31;
    margin-top: 10px;
    text-align: center;
    letter-spacing: 0.5px;
    text-transform: none;
}

.mapContainer {
    margin-top: 30px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
    border-radius: 10px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.mapContainer:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}