/* Card Styling */
.map-card {
    max-width: 300px;
        border: 1px solid hsl(0, 0%, 80%);
        border-radius: 200px;
        box-shadow: 5px 5px 5px hsla(0, 0%, 0%, 0.1);
        display: inline-block;
        cursor: pointer;
        transition: border-color 0.3s ease,
            box-shadow 0.3s ease;
        overflow: hidden;
}

.map-card:hover {
    transform: scale(1.05);
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
}

/* Card Media Styling */
.map-card .map-card-media {
    width: 300px;
    height: 300px;
}

/* Card Content Styling */
.map-card .map-card-content {
    padding: 16px;
}

/* Typography Styling */
.map-card .map-card-content .map-card-title {
    text-align: center;
    font-size: 1.25rem;
    /* Equivalent to `h5` */
    margin-bottom: 16px;
}

/* Card Actions Styling */
.map-card .map-card-content .map-card-actions {
    display: flex;
    justify-content: center;
}

/* Button Styling */
.map-card .map-card-content .map-card-actions .map-card-button {
    color: white;
    background-color: grey;
    border: 1px solid grey;
    border-radius: 5px;
    padding: 5px 15px;
    text-transform: none;
    font-size: 1em;
    font-weight: bold;
    transition: background-color 0.3s, color 0.3s;
}

.map-card-button:hover {
    background-color: white;
    color: black;
}