* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-transform: capitalize;
  text-decoration: none;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #06535e;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1000;
  padding: 10px 20px;
}

.logo {
  height: 50px;
}

.nav-container {
  display: flex;
  align-items: center;
}

.nav-menu {
  list-style: none;
  display: flex;
  align-items: center;
}

.nav-item {
  margin-left: 20px;
}

.nav-link {
  font-size: 15px;
  color: rgba(240, 232, 232, 0.973);
  display: flex;
  align-items: center;
  transition: 0.5s;
}

.nav-icon {
  margin-right: 10px;
}

.nav-icon-menu {
  display: none;
  font-size: 20px;
  color: rgba(240, 232, 232, 0.973);
  cursor: pointer;
}

.nav-link:hover {
  background: rgba(219, 219, 219, 0.747);
  border-radius: 4px;
  color: #fff;
}

@media (max-width: 768px) {
  .nav-menu {
    margin-top: 13px;
    display: none;
    flex-direction: column;
    width: 20%;
    background-color: #06535e;
    position: absolute;
    top: 60px;
    right: 1px;
    z-index: 1;
  }

  .nav-menu.active {
    display: flex;
  }

  .nav-item {
    margin: 10px 0;
  }

  .nav-icon-menu {
    display: block;
  }
}