
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-transform: capitalize;
  text-decoration: none;
  
}
.navbar {

  position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #06535e;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    
}

.logo {
  height: 50px;
  position: absolute;
  top: 5px;
  left: 20px;
}

.nav-menu {
  list-style: none;
  display: flex;
  align-items: center;
  
}

.nav-item {
  position: relative;
  justify-content: space-between;
}

.nav-link {
  font-size: 15px;
  padding: 20px;
  color: rgba(240, 232, 232, 0.973);
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: 0.5s;  
}
.nav-icon{
  margin-right: 10px;
}
 .nav-icon-menu{
  font-size: 20px;
  color: rgba(240, 232, 232, 0.973);
  
}

.nav-link:hover {
  background: rgba(219, 219, 219, 0.747);
  border-radius: 4px;
  color: #fff;
}
.nav-item-search{
  position: relative;
  padding: 10px;
  
}

.dropdown-content {
  display: none;
  position: absolute;
  right: 0px;
  min-width: 160px;
  background-color:#06535e;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}


.dropdown-content ul {
  list-style: none;

}

.dropdown-content ul li {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.dropdown-content ul li a {
  color: #fff;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content ul li a:hover {
  background-color: rgba(219, 219, 219, 0.747);
}

.nav-item:hover .dropdown-content {
  display: block;
} 

