.panigiria-container{
    background-image: url('../assets/images/panigiria-back.png');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    padding: 20px 10px;       
    color: #0E2A44;
    flex-direction: column;
}
.panigiria-container .panigiria-heading{
    font-family: 'Poppins', sans-serif;
    font-size: 3em;
    font-weight: 500;
    color: rgb(14, 42, 68);
    padding: 10px 20px;
    margin: 20px 0;
    z-index: 2;
}

.panigiria-container .panigiria-paragraph{
        display: flex;
        color: black;
        padding: 20px;
        margin: 20px 0;
        font-size: 1.2em;
        line-height: 1.5;
        max-width: 800px;
        text-align: justify;
      
}

.panigiria-container .panigiria-cards{
    margin: 20px 0;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    z-index: 2;
}
@media (max-width: 768px) {
    .panigiria-container .panigiria-card {
        width: calc(50% - 20px);
        /* Adjust width for smaller screens */
    }
}

@media (max-width: 480px) {
    .panigiria-container .panigiria-card {
        width: 100%;
        /* Adjust width for smallest screens */
    }
}


 .panigiria-cards .map-card {
     max-width: 300px;
     border: 1px solid hsl(0, 0%, 80%);
     border-radius: 50px;
     box-shadow: 5px 5px 5px hsla(0, 0%, 0%, 0.1);
     display: inline-block;
     cursor: pointer;
     transition: border-color 0.3s ease,
         box-shadow 0.3s ease;
     overflow: hidden;
 }

 .panigiria-cards .map-card:hover {
    cursor: pointer;
     transform: scale(1.05);
     box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
 }

 /* Card Media Styling */
 .panigiria-cards .map-card .map-card-media {
     width: 300px;
     height: 300px;
 }

 /* Card Content Styling */
 .panigiria-cards .map-card .map-card-content {
     padding: 16px;
 }

 /* Typography Styling */
 .panigiria-cards .map-card .map-card-content .map-card-title {
     text-align: center;
     font-size: 1.25rem;
     /* Equivalent to `h5` */
     margin-bottom: 16px;
 }

 /* Card Actions Styling */
 .panigiria-cards .map-card .map-card-content .map-card-actions {
     display: flex;
     justify-content: center;
 }

 /* Button Styling */
 .panigiria-cards .map-card .map-card-content .map-card-actions .map-card-button {
    
    color: white;
     background-color: rgb(85, 85, 85);
     border: 1px solid grey;
     border-radius: 5px;
     padding: 5px 15px;
     text-transform: none;
     font-size: 1em;
     font-weight: bold;
     transition: background-color 0.3s ease;
 }

 .panigiria-cards .map-card .map-card-content .map-card-actions .map-card-button:hover {
     background-color: white;
     color: black;
 }