.villages-container {
    width: 100vw;
    height: 100vh;
    background-image: url('../assets/images/xwria-back.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    /* padding: 10px 0px 0px 0px; */
}